.form {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid black;
    border-radius: 5px;
}

.input {
    margin: 10px;
}

.button:disabled {
width:max-content;
border-radius: 5px; 
color: #000;
background-color: rgb(197, 193, 193);
}

.button {
    border-radius: 5px;
    background-color: rgb(245, 248, 40);
}


.label {
    display: flex;
    flex-direction: column;
    color: rgb(0, 157, 255);
    font-weight: bold;
}